*{
    margin: 0;
    padding: 0;
}
header{
    /*Bloque solido del header*/
    background-color: rgb(58, 58, 58);
    height: 700px;
}
#logo{
    /*Imagen del logo*/
    margin-top: 10px;
    margin-left: 10px;
}
.menu ul li{   
    /*Forma del Menu*/ 
    margin-top: 50px;
    position: relative;
    float: right;
    list-style: none;
    border-radius: 15px;
}
.menu ul{
    /*Menu General*/
   
    margin-right: 40%;
}
.menu ul a{
    /*Lista*/
    display: block;
    color: white;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.menu ul li:hover{
    background-color: rgb(167, 167, 167);
    
}
.log{
    /*menu--->Login*/
   background-color: rgb(24, 24, 24);
}
.iconIG{
    /*Icono redireccional de Instagram*/
    text-align: right;
    margin-top: -120px;

}

.iconFB{
    /*Icono redireccional de Faceboock*/
    text-align: right;
    margin-right: 50px;
    margin-top: -45px;

}
.bienvenidos{
    /*Imagen del titulo*/
    
    border-style: solid;
    border-image-outset: 150px;
    border-color: white;
    font-weight: bold;
}
h1{
    /*Titulo Bienvenidos*/
    color: white;
    margin-right: 35px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 2px;
   
}
.txtcol{
    /*Subtituto COLEGIO OPEN MINDED*/
    color: white;
    text-align: right;
    margin-right: 35px;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 10px; 
}
.txtp1{
    /*Texto 1 Subtitulo*/
    color: white;
    text-align: right;
    margin-right: 35px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}
.letrasinfo{
    /*Titulo y subtitulos*/
    margin-top: -500px;

}
.info1{
    /*Titulo,subtitulos e imagen*/
    margin-top: -600px;
    display: inline-table;
}

.casilla0{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: white;
    text-align: center;
    height: 200px;
    width: 350px;
    margin-top: 100px;
    margin-left: 60px;
    position: absolute;
}
.casilla1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: white;
    text-align: center;
    height: 200px;
    width: 350px;
    margin-top: 100px;
    margin-left: 540px;
    position: absolute;

}
.casilla2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: white;
    text-align: center;
    height: 200px;
    width: 350px;
    margin-top: 100px;
    margin-left: 1000px;
    position: absolute;
}
.sp0{
    margin-top: 100px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 70px;
    text-align: center;
    margin-top: 300px;
    letter-spacing: 2px;
} 
.flecha0{
    margin-top: 20px;
}
.enfoque{
    width: 1000px;
    height: 600px;
    margin: -2450px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(46, 46, 46);
}
.txtenfoque{
    margin-top: 10px;
    text-align: justify ;
}
h3{
    text-align: center;
}

.valores{
    width: 1000px;
    height: 600px;
    margin: 3100px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(46, 46, 46);
    
}
h4{
    text-align: center;
}
.fondosect0{
    background-color: rgb(236, 236, 236);
    height: 2600px;
    margin-top: 100px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 75px;
    text-align: center;
    margin-top: -2300px;
    letter-spacing: 3px;
}
.galeria{
    
    background-color: rgb(236, 236, 236);
}
.navgaleria{
    font-size: 60px;
    margin: 80px auto;
    height: 1000px;
    width: 1500px;
}
.txtgaleria{
    position: absolute;
    height: 200px;
    width: 400px;
    margin: 420px 50px;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif; 
    color: rgb(15, 15, 15);
}
.imgp{
    margin-top: 50px;
    margin-left: 30px;
}
.img0{
    margin-left: 30px;
   margin-bottom: 550px;
}
.img1{
    margin-bottom: 550px;
    margin-left: 30px;
}
.img2{
    position: absolute;
    margin-left: -945px;
    margin-top: 600px;
}
.img3{
    position: absolute;
    margin-left: -450px;
    margin-top: 600px;
}
.txtcontacto{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.txtinfo{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    width: 600px;


}
.copy{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(17, 17, 17);

}
footer{
    background-color: rgb(30, 30, 30);

}

